body {
  background-color: black;
  background-image: url(assets/img/1.gif);
  background-size: 100% 100%;
  overflow: hidden;
  float: left;
}

html.nocursor,
html.nocursor * {
  cursor: url(assets/blank.png), none !important;
}

#webcam,
#background,
#videos {
  -webkit-transition: width 0.1s, height 0.1s, opacity 1.5s;
  -moz-transition: width 0.1s, height 0.1s, opacity 1.5s;
  transition: width 0.1s, height 0.1s, opacity 1.5s;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  mix-blend-mode: difference;
}

#webcam {
  display: none;
  object-fit: fill;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 19s;
  -moz-animation-duration: 19s;
  animation-duration: 19s;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-filter: brightness(100) contrast(25) opacity(0.25);
  filter: brightness(100) contrast(25) opacity(0.25);
}

#videos {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 21s;
  -moz-animation-duration: 21s;
  animation-duration: 21s;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.blendmode {
  -webkit-animation-name: blendmode;
  -moz-animation-name: blendmode;
  animation-name: blendmode;
}

.no-blend {
  mix-blend-mode: unset !important;
}

.hidden {
  position: absolute !important;
  top: -99999px !important;
  left: -999999px !important;
  opacity: 0 !important;
}

#settings {
  background: white;
  padding: 10px 5px;
  z-index: 999;
  width: 50%;
  position: absolute;
  top: 5%;
  left: 25%;
  cursor: initial !important;
  min-height: 100px;
  display: none;
}

#settings * {
  cursor: initial !important;
}

#settings [data-target="webcam"] {
  display: none;
}

#settings-info {
  -webkit-transition: opacity 4s;
  -moz-transition: opacity 4s;
  transition: opacity 4s;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  position: relative;
  margin: 100px auto;
  width: 222px;
  padding: 5px 10px;
  text-align: center;
}

#bpm-preview {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  background: black;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px 0px 0px 0px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#bw {
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  mix-blend-mode: color;
  position: absolute;
  top: 0px;
  left: 0px;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@-webkit-keyframes backgroundrotate {
  10%,30%,50%,70%,90% {
    background-color: #000000;
  }
  0% {
    background-color: #F42427;
    background-color: #6E2728;
  }
  20% {
    background-color: #FC18F1;
    background-color: #5F295C;
  }
  40% {
    background-color: #3A75F3;
    background-color: #2A3D65;
  }
  60% {
    background-color: #81FA7B;
    background-color: #296226;
  }
  80% {
    background-color: #FFFF7F;
    background-color: #5D5D23;
  }
  100% {
    background-color: #F42427;
    background-color: #4E1B1C;
  }
}
@-moz-keyframes backgroundrotate {
  10%,30%,50%,70%,90% {
    background-color: #000000;
  }
  0% {
    background-color: #F42427;
    background-color: #6E2728;
  }
  20% {
    background-color: #FC18F1;
    background-color: #5F295C;
  }
  40% {
    background-color: #3A75F3;
    background-color: #2A3D65;
  }
  60% {
    background-color: #81FA7B;
    background-color: #296226;
  }
  80% {
    background-color: #FFFF7F;
    background-color: #5D5D23;
  }
  100% {
    background-color: #F42427;
    background-color: #4E1B1C;
  }
}
@keyframes backgroundrotate {
  10%,30%,50%,70%,90% {
    background-color: #000000;
  }
  0% {
    background-color: #F42427;
    background-color: #6E2728;
  }
  20% {
    background-color: #FC18F1;
    background-color: #5F295C;
  }
  40% {
    background-color: #3A75F3;
    background-color: #2A3D65;
  }
  60% {
    background-color: #81FA7B;
    background-color: #296226;
  }
  80% {
    background-color: #FFFF7F;
    background-color: #5D5D23;
  }
  100% {
    background-color: #F42427;
    background-color: #4E1B1C;
  }
}
@-webkit-keyframes blendmode {
  0% {
    mix-blend-mode: overlay;
  }
  25% {
    mix-blend-mode: darken;
  }
  50% {
    mix-blend-mode: difference;
  }
  75% {
    mix-blend-mode: lighten;
  }
  100% {
    mix-blend-mode: overlay;
  }
}
@-moz-keyframes blendmode {
  0% {
    mix-blend-mode: overlay;
  }
  25% {
    mix-blend-mode: darken;
  }
  50% {
    mix-blend-mode: difference;
  }
  75% {
    mix-blend-mode: lighten;
  }
  100% {
    mix-blend-mode: overlay;
  }
}
@keyframes blendmode {
  0% {
    mix-blend-mode: overlay;
  }
  25% {
    mix-blend-mode: darken;
  }
  50% {
    mix-blend-mode: difference;
  }
  75% {
    mix-blend-mode: lighten;
  }
  100% {
    mix-blend-mode: overlay;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.23;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.55;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.23;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.55;
  }
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  25% {
    opacity: 0.23;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.55;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1.2) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(1.5) rotate(-3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.4) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.2) rotate(0deg);
  }
}
@-moz-keyframes bounce {
  0% {
    -moz-transform: scale(1.2) rotate(0deg);
  }
  25% {
    -moz-transform: scale(1.5) rotate(-3deg);
  }
  50% {
    -moz-transform: scale(1.3) rotate(0deg);
  }
  75% {
    -moz-transform: scale(1.4) rotate(4deg);
  }
  100% {
    -moz-transform: scale(1.2) rotate(0deg);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1.2) rotate(0deg);
    -moz-transform: scale(1.2) rotate(0deg);
    -ms-transform: scale(1.2) rotate(0deg);
    -o-transform: scale(1.2) rotate(0deg);
    transform: scale(1.2) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(1.5) rotate(-3deg);
    -moz-transform: scale(1.5) rotate(-3deg);
    -ms-transform: scale(1.5) rotate(-3deg);
    -o-transform: scale(1.5) rotate(-3deg);
    transform: scale(1.5) rotate(-3deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotate(0deg);
    -moz-transform: scale(1.3) rotate(0deg);
    -ms-transform: scale(1.3) rotate(0deg);
    -o-transform: scale(1.3) rotate(0deg);
    transform: scale(1.3) rotate(0deg);
  }
  75% {
    -webkit-transform: scale(1.4) rotate(4deg);
    -moz-transform: scale(1.4) rotate(4deg);
    -ms-transform: scale(1.4) rotate(4deg);
    -o-transform: scale(1.4) rotate(4deg);
    transform: scale(1.4) rotate(4deg);
  }
  100% {
    -webkit-transform: scale(1.2) rotate(0deg);
    -moz-transform: scale(1.2) rotate(0deg);
    -ms-transform: scale(1.2) rotate(0deg);
    -o-transform: scale(1.2) rotate(0deg);
    transform: scale(1.2) rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
