@import 'bourbon/bourbon';

body{
    background-color: black;
    background-image: url(assets/img/1.gif);
    background-size: 100% 100%;
    overflow:hidden;
    float: left;
}
html.nocursor,
html.nocursor *{
    cursor: url(assets/blank.png), none !important;
}
#webcam,
#background,
#videos{
    @include transition(width 0.1s, height 0.1s, opacity 1.5s);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    mix-blend-mode: difference;
}
#webcam{
    display: none;
    object-fit: fill;
    @include animation-iteration-count(infinite);
    @include animation-timing-function(ease);
    @include animation-duration(19s);
    @include animation-direction(alternate);
    @include filter(brightness(100) contrast(25) opacity(0.25));
}
#videos{
    @include animation-iteration-count(infinite);
    @include animation-timing-function(ease);
    @include animation-duration(21s);
    @include animation-direction(reverse);
    @include animation-delay(3s);
}
.blendmode{
    @include animation-name(blendmode);
}
.no-blend{
    mix-blend-mode: unset !important;
}
.hidden{
    position: absolute !important;
    top: -99999px !important;
    left: -999999px !important;
    opacity: 0 !important;
}
#settings{
    background:white;
    padding:10px 5px;
    z-index: 999;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 25%;
    cursor: initial !important;
    min-height: 100px;
    display: none;
}
#settings *{
    cursor: initial !important;
}
#settings [data-target="webcam"]{
    display:none;
}
#settings-info{
    @include transition(opacity 4s);
    background:#fff;
    border-radius: 5px;
    opacity: 1;
    position: relative;
    margin: 100px auto;
    width: 222px;
    padding: 5px 10px;
    text-align: center;
}
#bpm-preview{
    position: absolute;
    bottom:0px;
    right:0px;
    color: white;
    background:black;
    font-size:18px;
    padding:5px 10px;
    border-radius: 5px 0px 0px 0px;
    @include transition(opacity .5s);
}
#bw{
    display: none;
    width:100%;
    height:100%;
    background:black;
    mix-blend-mode: color;
    position: absolute;
    top:0px;
    left:0px;
}

.clearfix:after { //Clearfix
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

@import 'keyframes';