
@keyframes backgroundrotate {
    10%,20%,30%,50%,70%,90%{ background-color: #000000 }
    0% { background-color: #F42427; background-color: #6E2728 }
    20% { background-color: #FC18F1; background-color: #5F295C }
    40% { background-color: #3A75F3; background-color: #2A3D65 }
    60% { background-color: #81FA7B; background-color: #296226 }
    80% { background-color: #FFFF7F; background-color: #5D5D23 }
    100% { background-color: #F42427; background-color: #4E1B1C }
}
@keyframes blendmode {
    0% { mix-blend-mode: none }
    10% { mix-blend-mode: darken }
    25% { mix-blend-mode: difference }
    50% { mix-blend-mode: lighten }
    75% { mix-blend-mode: overlay }
    90% { mix-blend-mode: none }
}
@keyframes fade {
    0%{ opacity: 0.4 }
    10% { opacity: 0.23 }
    25% { opacity: 0.5 }
    50% { opacity: 0.15 }
    74% { opacity: 0.4 }
    90% { opacity: 0.56 }
}
@keyframes bounce {
    0% { transform: scale(1.2) rotate(0deg); }
    25% { transform: scale(1.5) rotate(-3deg); }
    50% { transform: scale(1.3) rotate(0deg); }
    75% { transform: scale(1.4) rotate(4deg); }
    100% { transform: scale(1.2) rotate(0deg); }
}
body{
    background:black;
    overflow:hidden;
    animation: backgroundrotate 51s ease infinite;
}
html.nocursor,
html.nocursor *{
    cursor: url(assets/blank.png), none !important;
}
#webcam,
#background,
#videos,
#vhs_static{
     -webkit-transition: width 0.1s, height 0.1s; /* Safari */
    transition: width 0.1s, height 0.1s;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
#webcam{
    display: none;
    object-fit: fill;
    mix-blend-mode: darken;
    animation: blendmode 19s ease infinite;
    filter: brightness(100) contrast(25) opacity(0.25);
}
#background{
    animation: blendmode 47s linear infinite;
}
#videos{
    animation: fade 21s ease infinite;
}
#vhs_static{
    mix-blend-mode: overlay;
    animation: fade 13s ease infinite, bounce 25s ease infinite;
}
.hidden{
    position: absolute !important;
    top: -99999px !important;
    left: -999999px !important;
    opacity: 0 !important;
}
#settings{
    background:white;
    padding:10px 5px;
    z-index: 999;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 25%;
    cursor: initial !important;
    min-height: 100px;
    display: none;
}
#settings *{
    cursor: initial !important;
}
#settings [data-target="webcam"]{
    display:none;
}
#settings-info{
     -webkit-transition: opacity 2s; /* Safari */
    transition: opacity 2s;
    background:#fff;
    border-radius: 5px;
    opacity: 1;
    position: relative;
    margin: 100px auto;
    width: 222px;
    padding: 5px 10px;
    text-align: center;
}
